<!-- Header with logo and sound toggle -->
<header class="z-30 w-full py-4 px-6  justify-between items-center absolute top-[50px] hidden">
  <!-- Rotating logo -->
  <div class="md:w-12 md:h-12 w-8 h-8 animate-spin-slow">
    <img src="/assets/ball.svg" alt="Logo" class="w-full h-full">
  </div>

  <!-- Sound toggle button -->
  <button class="text-white hover:text-teal-300 transition-colors duration-200">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
    </svg>
  </button>
</header>
